
/* Easy Slider */
	
	#slider-container {
		padding: 1px;
		border: 5px #ededed solid;
		background-color: #fff;
	}
	
	
	#slider{
		margin:0;
		padding:0;
		position: relative;
		left: 0px;
		overflow: hidden;
	}	
	#slider ul, #slider li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider li{ 
		width:717px;
		height:212px;
		
	}	
	

	
	#prevBtn, #nextBtn{ 
		display:block;
		width:37px;
		height:45px;
		position:relative;
		left:633px;
		top:-12px;	
		float: left;
		margin-top: -38px;

	}	
	#nextBtn{ 
		left:633px;
		}														
	#prevBtn a, #nextBtn a{  
		display:block;
		width:37px;
		height:40px;
		background:url(../images/arrow_left.png) no-repeat 0 0;	
	}	
	#prevBtn a:hover, #nextBtn a:hover {
		background-position: left -40px;
	}
	#nextBtn a{ 
		background:url(../images/arrow_right.png) no-repeat 0 0;	
	}												

/* // Easy Slider */
