body {
  padding: 0;
  margin: 0;
  background: #fafafa;
}

#header-bg {
	background: url(../images/bg.png) repeat-x top;
	height: 149px;
	width: 100%;
	min-width: 1000px;
}

#header {
	height: 138px;
	width: 960px;
	margin: 0 auto;
}

	/* Logo Container */
	#logo {
		width: 424px;
		height: 137px;
		float: left;
	}

	#logo a {
		display: block;
		margin-top: 55px;
		margin-left: 40px;
	}

	#top-right #header-quote{
		margin-top: 54px;
	}

	#top-right h3 {
		color: #fff;
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size: 18px;
		font-style:italic;
	}


#content-bg {
	width: 100%;
	float: left;
	background-color: #fff;
	min-width: 1000px;
	padding: 20px 0 20px 0;
}

#content {
	margin: 0 auto;
	width: 960px;
	background-color:white;
}

	#content .entry {
		padding-bottom: 10px;
		float: left;
	}

	#content h2 {

		background: url(../images/dotted_border_h.gif) repeat-x right bottom;
		color: #6589b3;
	}

	#content h3 {
		background: url(../images/dotted_border_h.gif) repeat-x right bottom;
		color: #6589b3;
		padding-bottom: 5px;
	}


	#content h5 {
		color: #6589b3;
		margin-bottom: 5px;
	}


	#content p {
		padding-bottom: 15px;
		margin: 0;
		clear: both;
		line-height:22px;
	}




#footer-bg {
	width: 100%;
	float: left;
	background: url(../images/footer_bg.gif) repeat-x top;
	min-width: 1000px;
}

	#footer {
		margin: 0 auto;
		width: 960px;
		padding:20px;
		font-size: 12px;
	}



#navigation {
	width: 202px;
	float: left;
	height: 542px;
	background: url(../images/navigation_bg_right.png) no-repeat right top;
}

#main {
	width: 748px;
	float: left;


	height: 542px;
	padding-left: 10px;
}

/* ------------ blog styles ----------- */


#blog-navigation {
	width: 202px;
	float: left;

	padding-right: 22px;

}

#blog-main-bg {
	background: url(../images/left_shadow.png) no-repeat left top;
	float: left;
}

#blog-main {
	width: 660px;
	float: left;

	padding: 0 38px 0 38px;
	background: url(../images/right_shadow.png) no-repeat right top;
}

.blog-entry {
	padding: 15px 0;
	background: url(../images/dotted_border_h.gif) repeat-x right bottom;
}

#content .blog-entry h2 {
	background: none;
	padding: 0;
	margin: 0;
	font-size: 24px;
}

.blog-entry h2 a {
	color: #6589b3;
}

.blog-entry .post-content a {
	color: #6589b3;
	font-weight: bold;
}

#content p.post_details {
	background-color:#f5f5f5;
	font-size:11px;
	color:#777;
	margin:10px 0;
	padding:0 5px;
}



/* Scroller Style */

.item {
	width: 729px;
	height: 542px;
	float: left;
	color: #777;
	padding: 0 19px;
	padding-right: 0px;
	overflow: hidden;
}

	.item .left, .nested-item .left {
		float: left;
		width: 438px;
		margin-right: 20px;

	}

	.item .projects-left, .nested-item .left {
		float: left;
		width: 414px;
		margin-right: 0px;

	}

	.item .right , .nested-item .right {
		float: left;
		width: 251px;
		margin-left: 20px;
	}

	div.pane{
		background-color: #fff;

		overflow:auto;

		position:relative;
		width: 748px;
		height:542px;
		overflow: hidden;

	}

.elements {
	width:3076px; /* adjust the width depending on the number of items floated to the left */ /* in this case, 2920 is equal to 4 items (because of the portfolio section)... 769px for each items. */
	height:542px; /* you may ignore this value */ /* the height automatically adjust with the content unlike the width*/
}



/* contact form style */
form {
  padding: 20px 0;
  margin: 0;
}
label {
	float: left;
	width: 100px;
	font-weight: bold;
	color: #999;
	padding: 5px;
}
input,
textarea{
	padding: 5px;
	font: 400 12px arial, sans-serif;
	background: url(../images/field_bg.png) no-repeat top left;
	border-width: 1px;
	border-style: solid;
	border-color: #d2d2d2 #e2e2e2 #e2e2e2 #d2d2d2;
}
input:focus,
textarea:focus{
  color: #333;
  background-color: #edf2f5;
}
#name, #email, #subject{
	width:250px;
}
#message{
	width:360px;
	height:150px;
}

#submit {
	height: 27px;
	background: url(../images/submit_button.png) no-repeat top left;

	margin-top: 0px;
	width: 91px;
	border: none;
	margin-right: 6px;
	font-weight: bold;
	cursor: pointer;
	color: #777;
}



/* testimonials */

.testimonial {
	width: 100%;
}

#content .testimonial blockquote {
	margin: 0;
	padding:0px 0px 0px 30px;
	background:url(../images/quote.png) no-repeat 0px 0px;

}
#content .testimonial blockquote p.quote{
	text-align:left;
	font-size:17px;
	color:#777;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	margin-bottom: 10px;
}

#content .testimonial blockquote p.author{
	text-align:right;
	font-size:12px;
	color:#999;
	font-weight:bold;
	font-family: Tahoma, arial;
	font-style:normal;
}

/* porfolio styles */

.portfolio-item {
	float: left;
	padding: 10px 0;
}

#content .portfolio-item h3 {
	background: none;
}


.portfolio-image, .portfolio-desc {
	float: left;
}

.portfolio-image {
	width: 270px;
}
.portfolio-desc {
	width: 458px;
}

.portfolio .image-left {
	margin: 12px 15px;
}

.portfolio .margin-0-left {
	margin-left: 0;
}

.portfolio .margin-0-right {
	margin-right: 0;
}



/* List Styles */

.vertical-list {
	list-style: none;

	margin: 0;
	padding: 0;
}
.vertical-list li {
	width: 100%;
    padding: 0;
	margin: 0;
}

.vertical-list a {
	display:block;

	text-decoration:none;
	font-weight:bold;


	padding: 8px 10px;

	background: #fff;
	border-bottom: 1px #e2e2e2 solid;
	overflow: hidden;
}

.vertical-list-home {
	list-style: none;

	margin: 0;
	padding-top: 10px;
}
vertical-list-home ul,li {
	display:block;
	text-decoration:none;
	font-weight:bold;

	background: #fff;
	border-bottom: 1px #e2e2e2 solid;
	overflow: hidden;
}

.vertical-list a:hover {
	background: #fff;
}

/* use class "bullet-list" if you want to have bullets in your list */

ul.bullet-list {
	list-style: none;
	margin: 0;
	margin-top: 0px;
	padding: 0;
}
ul.bullet-list li {
	padding: 5px 0px 5px 25px;
	background: url(../images/bullet.png) no-repeat left;
	font-weight: bold;
}
ul.simple-list {
	list-style: none;
	margin: 0;
	margin-top: 0px;
	padding: 0;
}
ul.simple-list li {
	padding: 5px 0px 5px 5px;
	font-weight: bold;
}




/* CSS sliding doors button */

a.button, a.button-color, a.button-header {
	background: url('../images/button.png') no-repeat scroll top left;
	float: left;
	height: 27px;
	padding-left: 0px;
	margin-right: 20px;
	margin-left: 0px;
}

a.button span, a.button-color span, a.button-header span  {
	background: url('../images/button.png') no-repeat scroll top right;
	float: left;
	height: 22px;
	position: relative;
	left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	font-weight: bold;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	cursor: pointer;
	line-height: 18px;
}

a.button:hover span {
	color: #666;
}

a.button-color {
	background: url('../images/button_color.png') no-repeat scroll top left;
}

a.button-color span {
	background: url('../images/button_color.png') no-repeat scroll top right;
	color: #fff;
}

a.button-header {
	background: url('../images/button_header.png') no-repeat scroll top left;
}

a.button-header span {
	background: url('../images/button_header.png') no-repeat scroll top right;
	color: #e4f2dd;
}

a.button:hover, a.button-color:hover, a.button-header:hover  {
	background-position: left -155px;
}

a.button:hover span, a.button-color:hover span, a.button-header:hover span {
	background-position: right -155px;
}



/*table styles  */

table {
	margin-top: 0;
	margin-bottom: 10px;
	border: 1px #ccc solid;
	border-bottom: none;
}

thead th {
	background: #e2e2e2 none repeat scroll 0 0;
	border-top: 1px #fff solid;
}
thead th {
	border-bottom:1px #bbb solid;
}
th {
	border-bottom: 3px #bbb solid;
	padding-right: 1em;
	text-align: left;
}

td {
	background: #f1f1f1;
	border-top: 1px #fff solid;
	border-bottom:1px #ccc solid;
	color: #777;
}

tr.even td {
	background: #f8f8f8;
	border-top: 1px #fff solid;
	border-bottom:1px #ccc solid;
}

td.active {
	background-color: #e4e4e4;
}


/* OtherStyles */

.textblock {
	font-size:17px;
	color:#777;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding: 10px;
	padding-bottom: 0px;
	border: 1px #ddd solid;
	margin-bottom: 10px;
	background-color: #f7f7f7;
}

#note {
	padding: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #992222;
	border: 1px #f0c020 solid;
	display: none;
	background-color:#ffffdd;
	text-align: center;
}

.notification_ok {
	color: #229922;
}




/* Link Styles */

.more {
	font-weight: bold;
}

/* Misc Styles */

.block {
	padding-bottom: 10px;
}

.title {
	padding-bottom: 0px;
	overflow: hidden;
}

.clear {
	clear: both;
	overflow: hidden;
	height: 0px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.image-margin-left {
	margin:0 10px 3px 0;
}

.image-margin-right {
	margin:0 0 3px 10px;
}

.image-left, .image-border, .image-right{
	padding:3px;
	margin:0 10px 3px 0;
	border:1px #ccc solid;
	background: #fdfdfd;
	float: left;
}

.image-small-left{
	background: #fdfdfd;
	padding:3px;
	margin:0 5px 0 0;
	border:1px solid #ccc;
	float: left;
}

.image-small-right {
	background: #fdfdfd;
	padding:3px;
	margin:0 0 0 3px;
	border:1px solid #ccc;
	float: right;
}

.image-border {
	margin:0;
}

.image-right {
	margin:0 0 3px 10px;
	float: right;
}

.margin-0-left {
	margin-left: 0px;
}

.margin-0-right {
	margin-right: 0;
}


.margin-10-lr {
	margin: 0 10px;
}

.margin-10-left {
	margin-left: 10px;
}

.margin-10-right {
	margin-right: 10px;
}

.margin-20-left {
	margin-left: 20px;
}

.margin-20-right {
	margin-right: 20px;
}

.img-150px{
  width: 150px;
}
